.content{
    color:rgba(200, 200, 200, 0.75) !important;
    padding-left:1em;
    padding-right:1em;
}

.content1{
    text-align:center;
    padding-top:2em;
    padding-bottom:2em;
    
    /*background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://i.pinimg.com/originals/05/fc/64/05fc64de027859a9fb90bc9b270810a9.jpg);
    background-size:1250px;*/
    background-repeat:no-repeat;
    background-color:rgba(0,0,0,0.75) !important;
    
    color:rgba(255, 255, 255, 0.8);
    font-size:40px;


    background: /*url(https://wallpapercave.com/wp/wp9553605.png);*/linear-gradient(-45deg, #ee76527e, #e73c7e79, #23a5d577, #23d5ab75);
    /*background:url(https://images.hdqwalls.com/wallpapers/desktop-abstract-2020-4k-mm.jpg);*/
    background-size: 400% 400%;
    animation: gradient 30s ease-in-out infinite;


    border-radius:0.25em;
    
}





.content3{
    background:rgb(30,30,30);

    padding-left:1em;
    padding-right:1em;

    width:50%;
    margin:0 5px;
    
    border-radius:1em;
    border:5px solid rgb(40,40,40);


    transition: 0.25s ease-out;
    transform:scale(75%);
    opacity:75%;
}
.content3_visible{
    transform:none;
    opacity:100%;
}






.content3_button{
    background:rgb(60,60,100);

    padding:0.5em;
    color:rgba(255,255,255,0.75);

    border-radius:0.25em;
    border:1px solid black;

    margin:0.5em;
    
    transition:0.1s ease-out;
}
.content3_button:hover{
    transform:scale(105%);
}

.content3_button:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);/*0*/
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.content3_button:hover:after{
    transform:scale(1);
    transform-origin: bottom left;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
        color:rgba(255,255,255,0.7);
    }
    50% {
        background-position: 100% 50%;
        color:rgba(255,255,255,0.99)
    }
    100% {
        background-position: 0% 50%;
        color:rgba(255,255,255,0.7)
    }
}


.content4{
    background:rgb(30,30,50);

    padding-left:1em;
    padding-right:1em;

    margin-top:1em;
    
    border-radius:1em;
    border:5px solid rgb(40,40,60);
}/*
    transition: 500ms ease-out;
    transform:translateX(-25em);
    opacity:0%;
}
.content4_visible{
    transform:none;
    opacity:100%;
}*/





.footer{
    background-color:rgba(0,0,0,0);
    margin-top:25px;
    padding:1em;
    text-align:center;
}